



.header{
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    


    .title_block{
        display: flex;
        align-items: center;

        .title{
            margin-left: 10px;
            text-wrap: wrap;
            text-transform: uppercase;
            color: rgb(216, 222, 226);
            font-size: 25px;
            line-height: 30px;

            &:hover{
                color: #fff;
                transition: color 0.5s ease;
            }
        }
    }

    .buttons_block{

        color: white;

        display: flex;
        align-items: center;

        .icon{
            margin-right: 10px;
        }

        .user{
            margin-right: 20px;
        }

        .signIn{
            margin-right: 10px;
            color: rgb(43, 224, 103);
            border:1px solid rgb(43, 224, 103);
        }

        .signUp{
            
        }


        .logout{
            color: rgb(224, 43, 43);
            border:1px solid red;
        }


        .newPost_btn{
            margin-right: 20px;
            color: rgb(155, 212, 97);
            cursor: pointer;
        }
    }
}