



.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(-9deg, rgb(78, 41, 126) 4%,rgb(67, 21, 108)); 
    border-radius: 10px;


    .title_block{
        display: flex;
        align-items: center;

        .title{
            margin-left: 10px;
            text-wrap: wrap;
            text-transform: uppercase;
            color: rgb(216, 222, 226);
            font-size: 25px;
            line-height: 30px;

            &:hover{
                color: #fff;
                transition: color 0.5s ease;
            }
        }
    }

    .buttons_block{

        color: white;

        display: flex;
        align-items: center;

        .icon{
            margin-right: 10px;
        }

        .user{
            margin-right: 10px;
        }

        .signIn{
            margin-right: 10px;
        }

        .signUp{
            
        }


        .logout{
            color: rgb(224, 43, 43);
            border:1px solid red;
        }


        .newPost_btn{
            margin-right: 20px;
            color: rgb(155, 212, 97);
            cursor: pointer;
        }
    }
}